.main-header {
    height: 30px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-darkslategray);
}

.header-links-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-link {
    text-decoration: none;
    color: var(--color-white);
    padding: 0 5px;;
}

@media (max-width: 850px) {
    .main-header {
        justify-content: center;
    }
}